@import "tailwindcss";  

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#responsive-wrapper {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 768px) {
    #responsive-wrapper {
      width: 1200px;
    }
  }
  
  @media (min-width: 1024px) {
    #responsive-wrapper {
      width: 1500px;
    }
  }
  
  @media (min-width: 1280px) {
    #responsive-wrapper {
      width: 100vw;
    }
  }
  